.card-custom {
  border: 2px solid #d4a373;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05); 
  }

  .card-img-top {
    height: auto;
    width: 100%;
    object-fit: cover; 
    border-radius: 10px 10px 0 0;
  }

  .card-body {
    .card-title {
      font-size: 1.25rem;
      color: #8c572c;
      margin-top: 10px;
    }

    .card-text {
      font-size: 1rem;
      color: #333;
    }
  }

  // Media queries
  @media (max-width: 992px) { 
    margin-bottom: 20px;

    .card-title {
      font-size: 1.15rem;
    }

    .card-text {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 768px) { 
    box-shadow: none;
    border: 1px solid #ccc;

    .card-title {
      font-size: 1.1rem;
    }

    .card-text {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;

    .card-title {
      font-size: 1rem;
    }

    .card-text {
      font-size: 0.8rem;
    }

    .card-img-top {
      border-radius: 5px;
    }
  }
}