.navbar-custom{
    background-color: map-get($colors ,cinammon);
    text-decoration: none;
    font-size: map-get($font-sizes ,l);
    max-width: 100%;
    div{
        ul{
            justify-content: space-around;
            li{
                a{
                    color: map-get($colors , sandstorm);
                    transition: color 0.3s ease;
                    &:hover{
                        color: map-get($colors, leafy );
                    }
                }
            }
        }
    }
}