.card-custom {
  border: 0.5rem map-get($colors , leafy );
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05); 
  }

  .card-img-top {
    height: auto;
    width: 100%;
    object-fit: cover; 
    border-radius: 10px 10px 0 0;
  }

  .card-body {
    .card-title {
      font-size: 1.25rem;
      color: #8c572c;
      margin-top: 10px;
    }

    .card-text {
      font-size: 1rem;
      color: map-get($colors , espresso );
    }
  }

  // Media queries
  @media (max-width: 992px) { 
    margin-bottom: 20px;

    .card-title {
      font-size: 1.15rem;
    }

    .card-text {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 768px) { 
    box-shadow: none;
    border: 1px map-get($colors, leafy );

    .card-title {
      font-size: 1.1rem;
    }

    .card-text {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;

    .card-title {
      font-size: 1rem;
    }

    .card-text {
      font-size: 0.8rem;
    }

    .card-img-top {
      border-radius: 5px;
    }
  }
}

.font-family-p {
  line-height: 1.6;
  margin-top: 10px;

  // Pantalla grande (lg)
  @media (min-width: 992px) {
      font-size: 18px;
  }

  // Pantalla mediana (md)
  @media (min-width: 768px) and (max-width: 991px) {
      font-size: 16px; 
  }

  // Pantalla pequeña (sm)
  @media (max-width: 767px) {
      font-size: 14px; 
      line-height: 1.4; 
  }
}